# Dependencies
node_modules/

# pnpm
.pnpm-store/

# Build output
dist/
build/
out/

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# Coverage
coverage/

# Terraform / infra
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
